<?xml version="1.0"?>
<ruleset>
    <file>wp-container.php</file>
    <file>src</file>
    <file>tests</file>

    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility"/>
    <config name="testVersion" value="7.0-"/>

    <rule ref="PSR12"/>
    <rule ref="PHPCompatibility"/>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>src/DefinitionsTable.php</exclude-pattern>
    </rule>
</ruleset>
